#map {
  width: 700px;
  height: 500px;
  margin: 0;
  padding: 0;
  z-index: -1;
}

.stations, .stations svg {
  position: absolute;
  z-index: 122;
}

.stations svg {
  width: 60px;
  height: 20px;
  padding-right: 100px;
  font: 10px sans-serif;
  z-index: 123;
}

.stations circle {
  stroke: black;
  stroke-width: 0.5px;
  z-index: 125;
}
