#map {
  width: 700px;
  height: 500px;
  margin: 0;
  padding: 0;
}

.stations, .stations svg {
    position: absolute;}
  
  .stations svg {
    width: 21px;
    height: 22px;
    font: 12px sans-serif; }
  
  .stations circle {
    stroke: black;
    stroke-width: 1px;
    -webkit-animation-name: redPulse;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite; }
  
  .stations circle:hover {
    stroke-width: 1.5px;
    cursor: pointer; }
  
  .marker_text {
    fill: black;
    visibility: hidden; }